html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;

	@media only screen and(min-width:$vp-19) {
		font-size: 70%;
	}
	@media only screen and(min-width:$vp-4k) {
		font-size: 120%;
	}

	@media only screen and(max-width:$vp-12) {
		font-size: 55%;
	}
	@media only screen and(max-width:$vp-8) {
		font-size: 50%;
	}
}
h1,
h2,
h3,
p {
	margin: 0;
}
body {
	font-family: "Work Sans", sans-serif;

	line-height: 1.6;
	color: $font-white;
	font-size: 1.6rem;
	background-color: $white;
	overflow-x: hidden;
	position: relative;
}
/*
////////////////
typography
////////////////
*/
.heading-1 {
	color: $font-black;
	font-size: 5.5rem;
	line-height: 1;
	color: #0b1341;
}
.heading-2 {
	color: $font-black;
	font-size: 3rem;
	line-height: 1;
	font-weight: 500;
}
.heading-3 {
	color: $font-black;
	font-size: 2.5rem;
	line-height: 1;
	font-weight: 500;
}
.heading-4 {
	color: $font-white;
	letter-spacing: 1px;
	font-size: 2.2rem;
	line-height: 1;
}

////////////
//HELPERS
////////////

.spacing > * + * {
	margin-top: 2.5rem;
}
.spacing-sm > * + * {
	margin-top: 1.5rem;
}

@media only screen and(max-width:$vp-6) {
	input,
	select,
	textarea {
		font-size: 2rem !important;
	}
}
