@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
@import "~normalize.css";
$primary: #222222;
$secondary: #161618;
$tertiary: #ced8db;
$tertiary-light: #e4e8eb;

$grey-light: #ededed;
$accent: #12248a;
$warning: #f53f5b;
//$accent: #407bff;
$blue: #113277;
$white: #fffffe;

$font-blue: #161c46;
$font-white: #fffffe;
$font-black: #171718;
$font-p: #5a5a5a;
/*
////////////////
reset
////////////////
*/

*,
*::before,
*::after {
	box-sizing: inherit;
}

$vp-4k: 156.25em; //2500 px
$vp-19: 116em; //1856px
$vp-14: 87.5em; //1400px

$vp-12: 75em; //1200px

$vp-8: 50em; //800px

$vp-6: 37.5em; //600
$vp-5: 31.25em; //500px
$vp-3: 21.875em; //350px
html {
	box-sizing: border-box;
	font-size: 60%;
	scroll-behavior: smooth;

	@media only screen and(min-width:$vp-14) {
		font-size: 65%;
	}
	@media only screen and(min-width:$vp-19) {
		font-size: 90%;
	}
	@media only screen and(min-width:$vp-4k) {
		font-size: 120%;
	}

	@media only screen and(max-width:$vp-12) {
		font-size: 55%;
	}
	@media only screen and(max-width:$vp-8) {
		font-size: 47.5%;
	}
	@media only screen and(max-width:$vp-6) {
		font-size: 47.5%;
	}
	@media only screen and(max-width:$vp-5) {
		font-size: 40%;
	}
}
h1,
h2,
h3,
p {
	margin: 0;
}
body {
	font-family: "Work Sans", sans-serif;

	line-height: 1.6;
	color: $font-white;
	font-size: 1.6rem;
	background-color: $white;

	overflow-x: hidden;
}
/*
////////////////
typography
////////////////
*/
.heading-1 {
	color: $font-black;
	font-size: 5.5rem;
	line-height: 1;
	color: #0b1341;
}
.heading-2 {
	color: $font-black;
	font-size: 2.8rem;
	line-height: 1;
	font-weight: 500;
}
.heading-3 {
	color: $font-black;
	font-size: 2.5rem;
	line-height: 1;
	font-weight: 500;
}
.heading-4 {
	color: $font-white;
	letter-spacing: 1px;
	font-size: 2.2rem;
	line-height: 1;
}

////////////
////HELPERS
////////////

.spacing > * + * {
	margin-top: 3rem;
}

.container {
	width: 85%;
	padding: 5em 0;
}
