a {
	font-family: "Work Sans", sans-serif;
	color: $font-white;
	text-decoration: none;
}
a:hover {
	opacity: 0.8;
}
a:focus {
	outline: 1px solid $accent;
}
button {
	font-family: "Work Sans", sans-serif;
	background: none;
	border: none;
	color: $font-white;
}
button:focus {
	outline: 1px solid $accent;
}
.btn {
	text-decoration: none;
	border: 0;
	background-color: $accent;
	padding: 1.2rem 2rem;
	color: $font-white;
	font-size: 1.8rem;
	border-radius: 3px;
	text-transform: uppercase;
	text-align: center;

	transition: all 0.2s ease-out;
	cursor: pointer;
}
.btn:hover {
	opacity: 0.9;
}
.btn:focus {
	outline: 2px solid $secondary;
}
.btn-secondary {
	background-color: $grey;

	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.15);
}
img {
	max-width: 100%;
}

@mixin input {
	font-size: 1.6rem;
	font-family: "Work Sans", sans-serif;
	font-weight: 500;
	color: $font-black;
	padding: 1rem;
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid $tertiary-light;
	transition: all 0.2s ease-out;
	background-color: $tertiary-light;
}
