a {
	color: $font-white;
	text-decoration: none;
}
a:hover {
	opacity: 0.9;
}

button {
	background: none;
	border: none;
	color: $font-white;
}

.btn {
	display: inline-block;
	text-decoration: none;
	border: 0;
	background-color: $accent;
	padding: 0.8em 1.4em;
	color: $font-white;
	font-size: 1.8rem;
	border-radius: 0.25em;
	text-transform: uppercase;
	text-align: center;

	transition: opacity 0.2s ease-in-out;
	cursor: pointer;
}
.btn:hover {
	opacity: 0.9;
}
.btn:focus {
	outline: 2px solid $secondary;
}
.btn-secondary {
	background-color: $font-p;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08), 0 1px 3px rgba(0, 0, 0, 0.15);
}
img {
	max-width: 100%;
	display: block;
}

@mixin input {
	font-size: 1.6rem;

	font-weight: 500;
	color: $font-black;
	padding: 1rem 1.2rem;
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid $tertiary;
	transition: border 0.2s ease-in-out;
	background-color: $tertiary;
}
