a {
	color: $font-white;
	text-decoration: none;
}
a:hover {
	opacity: 0.9;
}

button {
	background: none;
	border: none;
	color: $font-white;
	padding: 0;
	cursor: pointer;
}

.btn {
	display: inline-block;
	text-decoration: none;
	border: 0;
	background-color: $accent;
	padding: 0.5em 1.3em;
	border: 2.5px solid $accent;
	color: $font-white;
	font-size: 1.8rem;
	font-weight: 500;

	border-radius: 1em;
	text-transform: uppercase;
	text-align: center;

	transition: opacity 0.2s ease-in-out;
}
.btn:hover {
	opacity: 0.9;
}
.btn:focus {
	outline: 2px solid $secondary;
}
.btn-secondary {
	color: $font-black;
	background-color: $white;
}
