.form-control {
	color: $font-black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	width: 90%;
	max-width: 45rem;
	min-height: 50vh;
	padding: 1.5rem 4rem;
	background: $white;
	box-shadow: 0 2px 8px 0 hsla(0, 0%, 0%, 0.3);

	animation: down 0.5s forwards;
	.form-group {
		display: flex;
		flex-direction: column;

		position: relative;
		margin: 1.4rem 0;

		h2 {
			text-align: center;
		}

		label {
			font-weight: 500;
			margin-bottom: 0.5rem;
		}
		span {
			width: 100%;
			display: flex;
			flex-direction: column;
		}
		input {
			@include input;
			margin-bottom: 0.2rem;
		}

		input:focus {
			border-bottom: 1px solid $accent;
		}
		.radio-buttons {
			display: flex;
			align-items: center;
			justify-content: flex-start;

			background-color: $tertiary;
			padding: 1.4rem;
			width: 100%;
			input {
				flex-basis: 20%;
			}
			label[for="smokingNo"] {
				margin-left: 1rem;
			}
			label {
				margin: 0;
				margin-right: -1.5rem;
			}
		}
	}
}

//form validation
p {
	font-size: 1.2rem;
	margin-top: 0.5rem;
	color: #ff0033;
	display: inline-block;
	position: absolute;
	top: 95%;
}
.form-control .form-group .invalid {
	border-bottom: 1px solid #ff0033;
}
.form-control .form-group input.invalid:focus {
	border-bottom: 1px solid #ff0033;
}
.form-control .form-group input:focus {
}
.form-group button.disabled {
	opacity: 0.8;
}
