.form-control {
	color: $font-secondary;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-width: 35vw;
	min-height: 50vh;
	padding: 2rem 5rem;
	background: #fff;
	box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
	@media only screen and(max-width:$bp-large) {
		min-width: 40vw;
	}
	@media only screen and(max-width:$bp-medium) {
		min-width: 50vw;
	}
	@media only screen and(max-width:$bp-smallest) {
		min-width: 70vw;
		padding: 1.5rem 3rem;
	}

	.form-group {
		position: relative;
		margin: 1.5rem 0;
		display: flex;
		flex-direction: column;
		flex: 1;
		justify-content: center;
		h2 {
			text-align: center;
		}
		label {
			margin-bottom: 1.5rem;
		}
		input {
			color: $font-secondary;
			padding: 1.5rem 1rem;
			width: 100%;
			outline: none;
			border: none;
			background-color: $color-tertiary;

			border-bottom: 1px solid $color-tertiary;
			transition: all 0.2s ease-out;

			@media only screen and(max-width:$bp-smallest) {
				padding: 1.2rem 1rem;
			}
		}

		input:focus {
			border-bottom: 1px solid $blue;
		}
	}
}

//form validation
p {
	font-size: 1.3rem;
	margin-top: 0.5rem;
	color: #ff0033;
	display: inline-block;
	position: absolute;
	top: 98%;
}
.form-control .form-group .invalid {
	border-bottom: 1px solid #ff0033;
}
.form-control .form-group input.invalid:focus {
	border-bottom: 1px solid #ff0033;
}
.form-control .form-group input:focus {
}
.form-group button.disabled {
	pointer-events: none;
	opacity: 0.7;
}
