@mixin fillPage {
	min-height: 91vh;
	@media only screen and(max-width:$vp-6) {
		min-height: 82vh;
	}
}
@mixin input {
	color: $font-black;
	padding: 1rem 1.2rem;
	width: 100%;
	outline: none;
	border: none;
	border-bottom: 1px solid $tertiary;
	transition: border 0.2s ease-in-out;
	background-color: $tertiary;
}
