@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
$primary: #222222;
$secondary: #161618;
$tertiary: #ced8db;
$tertiary-light: #e4e8eb;

$grey-light: #ededed;
$accent: #12248a;
$warning: #f53f5b;

$blue: #113277;
$white: #fffffe;

$font-blue: #161c46;
$font-white: #fffffe;
$font-black: #171718;
$font-p: #555454;

$vp-4k: 156.25em; //2500 px
$vp-19: 116em; //1856px
$vp-14: 87.5em; //1400px
$vp-12: 75em; //1200px
$vp-8: 50em; //800px
$vp-6: 37.5em; //600
$vp-5: 31.25em; //500px
$vp-3: 21.875em; //350px
